<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liusl.hrm.mapper.UserMapper">
    <select id="selectUser" resultType="hashmap">
        SELECT * FROM user_info WHERE ID = #{id}
    </select>
</mapper>